<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Time:</b>
  <%= @task.time %>
</p>

<p>
  <b>Price:</b>
  <%= @task.price %>
</p>


<%= link_to 'Edit', edit_plant_task_path(@task.plant, @task) %> |
<%= link_to 'Back', plant_tasks_path(@task.plant) %>
