<h1> Create a Caregiver</h1>

<%= form_for :caregivers do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br />

  <%= f.label :years_of_experience %>
  <%= f.text_area :years_of_experience %><br />

  <%= f.label :description %>
  <%= f.text_area :description %><br />

  <%= f.submit %>
<% end %> 
