<h1>Plants <%= @plant.id %> </h1>

<h2>Name: <%= @plant.name %> </h2> 

<h3>Medium: <%= @plant.medium %></h3>

<h4>Fertilizer: <%= @plant.type_of_fertilizer %></h4>

<%= link_to "Edit This PLant", edit_plant_path(id: @plant) %>
<%= link_to "Delete This Plant", @post, method: :delete, data: {confirm: 'Are you sure you want to delete this plant?'} %> 